.popup__input_type_error{
    border-bottom: 1px solid #ff0000;
    margin-bottom: 5px;
}


.error {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    opacity: 0;
}
.error_visible{
    opacity: 1;
}
.error_visible :nth-child(1){
    margin-bottom: 13px;
}
.popup__button_invalid{
    border: 1px solid rgba(0, 0, 0, .2);
    color: rgba(0, 0, 0, .5);
    background: #e9e9e9;
}