.element__image-trash{
    margin: 0;
    padding: 0;
    width: 18px;
    height: 19.3px;
    top: 18px;
    right: 15px;
    background-image: url(../../../images/trash.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    outline: none;
}
.element__image-trash:hover{
    opacity: 0.6;
}