.popup__image{
    object-fit: cover;
    max-height: 540px;
    max-width: 816px;
}
@media screen and (max-width: 680px) {
    .popup__image {
        max-width: 240px;
        padding: 0 40px;
        max-height: 299px;
    }
}
