.elements__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-gap: 17px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 680px) {
    .elements__list {
        padding-left: 19px;
        padding-right: 19px;
        grid-gap: 20px;
    }
}